html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Arimo', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.radio-btn {
  border-radius: 20px;
}

iframe {
  height: 100%;
  width: 100%;
}

.variation {
  font-size: 1.5rem;
}

.variation a {
  text-decoration: none;
  border-left: 3px solid transparent;
  color: black;
}

.variation a.active {
  color: #DED0C1;
  border-color: #70553B;
}