.containers {
    padding: unset;
}

.profiles {
    background-image: url('../public/images/bg.png');
}

.content {
    font-family: 'Arimo';
    font-size: 5rem;
}

.contents {
    font-family: 'Arimo';
    font-size: 1rem;
}

.cards {
    width: 100%;
}

.button {
    background-color: #CF9C1F;
}

.button:hover {
    background-color: #9D896C;
}

.row {
    width: 100%;
}